.section{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 70px 120px 70px 120px;
    height: auto;
}
.section > div {
    display: flex;
    gap: 50px;
}

.recommended{
    padding-right: 50px;
    width: 20%;
    border-right: solid 2px #808080;
}

.recommended ul>li {
    list-style: none;
}

.topDishes{
    width: 40%;
    padding: 20px;
}
.cartADDContainer{
    display: flex;
    flex-direction: column;
    position: relative;
}
.cartImg{
    width: 160px ;
    height: 160px;
    border-radius: 10px;
}
.btn{
    top: 120px;
    left: 30px;
    position: absolute;
    background-color: white;
    width: 99px;
    height: 54px;
    font-size: 15px;
    font-weight: 500px;
    color: #1AC84B;
    line-height: 24px;
    border-radius: 10px;
    padding: 15px 25px 15px 25px;
    gap: 10px;
    cursor: pointer;


}
.cartContainer{
    display: block;
    flex-direction: row;
}

.btn:hover{
    color: #821ac8;
}

@media(max-width: 1080px){
    .section{

        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        
    }
    .recommended{
        border-bottom: solid 2px black;
        text-align: center;
        border: none;
        width: 100%;
       
    }
    .cartADDContainer{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .btn{
        left: 320px;
    }
}