
$font-primary: 'Poppins', sans-serif;

$fs-base: 1rem;
$fs-small: 0.875rem;
$fs-large: 1.125rem;
$fs-xlarge: 2rem;

$line-height-base: 1.5;
$line-height-small: 1.4;
$line-height-large: 1.6;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-ultra-bold: 900;

$letter-spacing-normal: normal;
$letter-spacing-small: 0.05rem;
$letter-spacing-medium: 0.1rem;
$letter-spacing-large: 0.2rem;