.article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.span {
    letter-spacing: 2px;
    font-size: 3rem;
    line-height: 2rem;
}
.strong{
    color: #FC8019;
}
.img{
    width: 125px;
    padding: 0px 15px 0px 15px;
}

.p{
    width: 80%;
    padding: 10px;
     font-weight: 400;
     font-size: 16px;
     line-height: 25px;
     color: #404040;
}

@media (max-width: 375px) {
    .span{
        font-size: 2rem;
    }
    .img{
        display: none;
    }
}