

.login-page{
    width: 100%;         
    padding: 5rem;
    
    @include tablet {
     @include flex-center-column;
    }
    @include mobile {
        @include flex-center-column;
    }
    a{
        color: $color-dark;
        @include decoration-none;

        &:hover{
            cursor: pointer;
            color: $color-hover;
            transition: 1.2s;
        }
    }
}

