
.header {
    @include flex-space-between;
    height: 20vh;
    margin: 0px 40px 0px 40px;
}

.input-search-header{
    position: relative;
    width: 450px;
    height: 49px;
    display: flex;
    justify-content: space-between;
    padding: 15px 25px 15px 25px;
    border-radius: 40px;
    color: #808080;
    background-image: url('../../assets/images/search.png');

}
.search-icon{
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    width: 20px; 
    height: auto;
}

.navbar-header{

    padding: 2rem;
    
    @include flex-center;

    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.img-nav{
    padding: 20px;
}

.menu:hover{
    cursor: pointer;
}