
.header {
    width: 100%;
    @include flex-space-around;
    height: 20vh;
    margin: 0px 40px 0px 40px;
}


.search-icon{
    position: absolute;
    top: 50%;
    left: 15px; 
    transform: translateY(-50%);
    width: 20px; 
    height: auto;
}

.navbar-header{
    width: 854px;
    padding: 2rem;
    
    @include flex-center;
    @include laptop{
        display: none;
    }

    @include tablet {
        display: none;
    }
    @include mobile {
        display: none;
    }
}

.img-nav{
    padding: 20px;
}

.menu:hover{
    cursor: pointer;
}