.footer {
  background-color: #FC8019;
  color: #FDFBFA;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 313px;
  width: 100%;
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.container-nav-footer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container-nav-footer ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.container-nav-footer li {
  text-decoration: none;
  list-style: none;
}
.container-nav-footer a {
  text-decoration: none;
  list-style: none;
  color: #FDFBFA;
  gap: 60px;
}
.container-nav-footer a:hover {
  cursor: pointer;
  color: #ff9f5b;
  border-radius: 5px;
  transition: 1s;
}
.container-nav-footer img {
  gap: 20px;
}

.contact a {
  text-decoration: none;
  list-style: none;
  color: #FDFBFA;
  gap: 60px;
}
.contact a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.navbar-header {
  margin: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-dark {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-dark > img {
  max-width: 100%;
  max-height: 100%;
}

.register-page {
  width: 100%;
  padding: 5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .register-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .register-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
.register-page a {
  color: #202020;
  text-decoration: none;
  list-style: none;
}
.register-page a:hover {
  cursor: pointer;
  color: #ff9f5b;
  transition: 1.2s;
}

.login-page {
  width: 100%;
  padding: 5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .login-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .login-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
.login-page a {
  color: #202020;
  text-decoration: none;
  list-style: none;
}
.login-page a:hover {
  cursor: pointer;
  color: #ff9f5b;
  transition: 1.2s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    max-width: fit-content;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  body {
    max-width: fit-content;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  body {
    max-width: fit-content;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    max-width: fit-content;
    height: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.fitme-logo {
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: 800;
}

/*# sourceMappingURL=index.css.map */
