.footer {
  background-color: #FC8019;
  color: #FDFBFA;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 313px;
  width: 100%;
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .footer {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.container-nav-footer {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.container-nav-footer ul {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.container-nav-footer li {
  text-decoration: none;
  list-style: none;
}
.container-nav-footer a {
  text-decoration: none;
  list-style: none;
  color: #FDFBFA;
  gap: 60px;
}
.container-nav-footer a:hover {
  cursor: pointer;
  color: #ff9f5b;
  border-radius: 5px;
  transition: 1s;
}
.container-nav-footer img {
  gap: 20px;
}

.contact a {
  text-decoration: none;
  list-style: none;
  color: #FDFBFA;
  gap: 60px;
}
.contact a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header {
  width: 100%;
  align-items: center;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  height: 20vh;
  margin: 0px 40px 0px 40px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  width: 20px;
  height: auto;
}

.navbar-header {
  width: 854px;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .navbar-header {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .navbar-header {
    display: none;
  }
}
@media (max-width: 480px) {
  .navbar-header {
    display: none;
  }
}

.img-nav {
  padding: 20px;
}

.menu:hover {
  cursor: pointer;
}

.register-page {
  padding: 5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .register-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .register-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
.register-page a {
  color: #202020;
  text-decoration: none;
  list-style: none;
}
.register-page a:hover {
  cursor: pointer;
  color: #ff9f5b;
  transition: 1.2s;
}

.login-page {
  padding: 5rem;
}
@media (min-width: 481px) and (max-width: 768px) {
  .login-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .login-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
.login-page a {
  color: #202020;
  text-decoration: none;
  list-style: none;
}
.login-page a:hover {
  cursor: pointer;
  color: #ff9f5b;
  transition: 1.2s;
}

.restaurant-page {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .restaurant-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .restaurant-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .restaurant-page {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/*# sourceMappingURL=index.css.map */
